<!DOCTYPE html>
<html>
<title>Wish You a Happy </title>
<h1 align="center">Welcome, Wish You Many Many More Happy Returns of the Day Mom.</h1>
    <table>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<header class="w3-container w3-blue">

    <tr>
    <button type="text" value="submit">Welcome</button>
    </tr>&nbsp;
    <form action="/admin/" method="post">
       {% csrf_token %}
       <tr>
    <input type="submit" value="admin">
       </tr>
   </form>&nbsp;

   <form action="/enter1/" method="post">
       {% csrf_token %}
       <tr>
    <input type="submit" value="Say Wishes To Anyone">
       </tr>
   </form>
{% load staticfiles %}
    <header class="w3-container w3-red">
<marquee direction="left-right">Welcome to My Lovely Mom  </marquee>
        <img src="{% static 'light-landscape-nature-326055.jpg' %}" alt="Nice car" style="width:100%" height="400" >

         <p name="name">Peace is the beauty of life. It is sunshine.It is the smile of a child, the love of a mother,the joy of a father, the togetherness of a family.
                       It is the advancement of man, the victory of a just cause,the Pallavi of truth.</p>

    {% load staticfiles %}
<marquee direction="left-right">I realized when you look at your mother, you are looking at the purest love you will ever know.</marquee>
<img src="{% static '4cf9d711e71232ada741b9f712788918.jpg' %}" alt="Nice car" style="width:100%" height="500">

{% load staticfiles %}
   <marquee direction="left-right">
    <img src="{% static '10-Most-Beautiful-Nature-Photos-06.jpg' %}" alt="Nice car" style="width:100%" height="500">
<img src="{% static 'cottage-blue-lake-banner.jpg' %}" alt="Nice car" style="width:120%" height="500">&nbsp;
<img src="{% static '10-Most-Beautiful-Nature-Photos-10.jpg' %}" alt="Nice car" style="width:100%" height="500">
        TO DESCRIBE MY MOTHER WOULD BE TO WRITE ABOUT A HURRICANE IN ITS PERFECT POWER OR THE CLIMBING, FALLING COLORS OF A RAINBOW.</marquee>


{% load staticfiles %}
<marquee direction="left-right">if you spend too long holding on to the one who treats you like an option you'll miss finding the one who treats you like a priority !</marquee>
<img src="{% static 'IMG-20181112-WA0020.jpg' %}" alt="Nice car" style="width:100%" height="500">
{% load staticfiles %}
<marquee direction="left-right">Welcome to My Lovely Mom</marquee>
<img src="{% static 'C__Data_Users_DefApps_AppData_INTERNETEXPLORER_Temp_Saved Images_untitled(4).png' %}" alt="Nice car" style="width:100%" height="500">
{% load staticfiles %}
<marquee direction="left-right">Welcome to My Lovely Mom</marquee>
<img src="{% static 'pexels-photo-459225.jpeg' %}" alt="Nice car" style="width:100%" height="500">
{% load staticfiles %}
<marquee direction="right">It's funny how Someone can break your heart and you still love them with all you have.
<img src="{% static 'IMG-20181019-WA0002.jpg' %}" alt="Nice car" style="width:40%" height="1000">
<img src="{% static 'IMG-20181112-WA0020.jpg' %}" alt="Nice car" style="width:40%" height="1000">
    </marquee>
{% load staticfiles %}
<marquee direction="down">
<img src="{% static 'images (1).jpg' %}" alt="Nice car" style="width:100%" height="500">
    </marquee>
{% load staticfiles %}
<marquee direction="left-right">Welcome to my sweet Mom
<img src="{% static 'Horses-beautiful-nature-21888620-1172-722.jpg' %}" alt="Nice car" style="width:100%" height="500">
    </marquee>
        {% load staticfiles %}
<marquee direction="left-right">Mothers are the best thing to ever happen to us. They nurture us with all of the love their heart could ever give, they practically made us who we are. They are wonderful and always the most beautiful in our lives.</marquee>
<img src="{% static 'IMG-20181019-WA0003.jpg' %}" alt="Nice car" style="width:100%" height="800">
    </table>
</header>
</body>
</html>